.ourservices {
  padding-top: 130px;
}
.textservices {
  padding: 20px 48px;
  font-weight: 700;
}

.textservices h3 {
  font-size: 24px;
  line-height: 36px;
}

.textservices p {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.textservices ul {
  display: flex;
}

.textservices li {
  padding: 10px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 540px) {
  .ourservices img {
    max-width: 100% !important;
    margin: 0px auto;
  }
}
