body {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #000000;
}

.header {
  /* border: 3px solid red; */
  /* box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07);
-webkit-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07); */
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #f1f3ff;
  z-index: 9;
}
/* .container { */
/* border: 3px solid green; */
/* width: 1370px;
  margin: auto; */
/* max-width: 100%; */
/* display: flex; */
/* } */
.logo {
  width: 151px;
  display: flex;
  align-items: center;
}
.logo h1 {
  color: blue;

  font-weight: bolder;
  font-size: 30px;
}
.menu {
  /* border: 3px solid blue; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu a {
  display: block;
  /* border: 3px solid gray; */
  margin: 16px;
  text-decoration: none;
  color: #000000;
  margin-top: -20px;
}
.burger-icon {
  display: none;
}
@media (max-width: 991px) {
  /* .menu {
    display: none;
  } */
  .burger-icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .burger-icon img {
    width: 40px;
  }
}
/* @media (max-width: 767px) {
  /* .menu { 
    display: block;
  } */
/* } */
