.sewamobil {
  padding-top: 50px;
  font-weight: 700;
  color: #ffffff;
}

.wrapper {
  background: #0d28a6;
  border-radius: 13px;
  padding-bottom: 10px;
  text-align: center;
}

.wrapper h1 {
  font-size: 36px;
  line-height: 54px;

  padding-top: 60px;
}

.wrapper p {
  font-size: 14px;
  line-height: 20px;

  padding: 16px;
}

.wrapper a {
  background: #5cb85f;
  border-color: #5cb85f;
  border-radius: 2px;

  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}
@media (max-width: 540px) {
  .wrapper h1 {
    line-height: 36px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
  }
  .wrapper p {
    margin: 0px 20px;
  }
}
