.footer {
  padding: 50px 0px;
}

.footer .row {
  justify-content: space-between;
}
.footer h1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 16px;
}

.list li {
  flex-direction: column;
  padding-bottom: 16px;
  padding-left: 80px;
}
.list h1 {
  text-decoration: none;
}

.list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
.footer .connect {
  padding-left: 30px;
}
.footer .connect a {
  padding: 0px 5px;
}
.footer .connect img {
  padding-top: 20px;
}
.copyright img {
  padding-top: 20px;
}
