.kotak {
  background: #f1f3ff;
  box-shadow: 0px 0px 4px 0px #00000026;
  width: 600px !important;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 8px;
}
.testi {
  padding-top: 40px;
}
.stars {
  display: flex;
  padding-bottom: 20px;
}
.judul {
  text-align: center;
  padding-bottom: 30px;
}
.judul h2 {
  font-size: 14px;
}
.judul h1 {
  font-size: 24px;
  padding-bottom: 16px;
}
